{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}


<div id="dbs" class="dashboard_field">
	<h1>DB-Stuff</h1>
	<button><a href="/db/coding_wiki">Coding_Wiki</a></button>
	<button><a href="/db/personal">Personal</a></button>

</div>

<div id="rechengame" class="dashboard_field">
	<h1>Rechen Spiel</h1>
	<p>here is where the rechenapplication schould go</p><p>ein Projekt zur Abwechslung vom Coding Wiki</p>

</div>

<div id="hangman" class="dashboard_field">
	<h1>Hangman</h1>
	<p>my hangman is going to go here!!!!</p>
	<p>auch ein Projekt zur Abwechslung vom coding Wiki</p>

</div>

{% endblock %}